<div class="container">
    <div class="row">
        <div class="two columns"><br></div>
        <div class="eight columns"> <h4> Admin Panel:</h4></div>
        <div class="two columns"><br></div>
    </div>
    <div class="row">
    <ul>
         <div class="two columns"><br></div>
         <div class="eight columns">
             <li><%= link_to 'Departments',departments_path %></li>
        <li><%= link_to 'Doctors', doctorview_admins_path %></li>
       <li><%= link_to 'Patients', patientview_admins_path %></li>
        <li><%= link_to 'Wards & Beds', bedview_admins_path %></li>
         <li><%= link_to 'Registration', registration_admins_path %></li>
         </div>
    </ul>
    </div>
    <div class="row"><div class='two columns'><br></div></div>  
        <div class="row"><div class='two columns'><br></div></div>  
   
</div>
