<div class="container">
    <div class="row"> 
        <div class="two columns"><br></div>
        <div class="eight columns"> <h4>Add new Ward </h4></div>
         <div class="two columns"><br></div>
    </div>
    <% form_for @room, :url=>newwardsave_admins_path  do |f|%>
    <div class="row"> 
        <div class="two columns"><br></div>
        <div class="eight columns"><%= f.error_messages %></div>
         <div class="two columns"><br></div>
    </div>
    <div class="row"> 
        <div class="two columns"><br></div>
        <div class="eight columns">  <%= f.label :Ward_number %><br />
    <%= f.text_field :room_no %></div>
         <div class="two columns"><br></div>
    </div>
    <div class="row"> 
        <div class="two columns"><br></div>
        <div class="button-primary"><%= f.submit "Save"%>
          <%= link_to 'Back', bedview_admins_path %></div>
         <div class="two columns"><br></div>
    </div>
    <% end %>
</div>