    <div class="container">
    <div class="row">
        <div class="two columns"><br></div>
        <div class="eight columns"> <h3> Doctor Details:</h3></div>
    </div>
        <div class="row">
            <div class="two columns"><br></div>
            <div class="four columns">
                <pre><h5>Name: Dr. <%=@doctor.name%></h5></pre>
            <pre><h5>Age: <%=@doctor.age%></h5></pre>   
                      <h4> Options:</h4>
               <ul>
                <li><%= link_to 'Appointments',
             appointmentsview_doctor_path(session[:current_user_id]) %></li>
       <li><%= link_to 'Edit Details',
             edit_doctor_path(session[:current_user_id]) %></li>
                 </ul>
            </div>
         <div class="five columns">
                 <%= image_tag @user.avatar.url(:medium) %>
                 </div>
        </div>
   </div>